{{ define "main" }}
<article> 
  <h1>{{ .Title }}</h1>
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Course</th>
      <th>Ville</th>
      <th>Distance</th>
      <th>Temps</th>
    </tr>
	{{ range $pages }}
      <tr>
        <th> {{ .Date | time.Format ":date_medium" }} </th>
        <th>{{ .Title }}</th>
        {{ range .Params.ville }} <th> {{ . }} </th> {{ end }}
        {{ range .Params.distance }} <th> {{ . }}</th> {{ end }}
        {{ range .Params.temps }} <th> {{ . }}</th> {{ end }}
      <tr>
  {{ end }}</table>
</article>
{{ end }}

