{{ define "main" }}
<style>
  tr:nth-child(even) {background-color: #f2f2f2;}
</style>

<article> 
  <h1>{{ .Title }}</h1>
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Course</th>
      <th>Ville</th>
      <th>Distance</th>
      <th>Temps</th>
    </tr>
	{{ range $pages }}
      <tr>
        <td> {{ .Date | time.Format ":date_medium" }} </td>
        <td><a href={{ .RelPermalink }} style="text-decoration: none;">{{ .Title }}</a></td>
        {{ range .Params.ville }} <td> {{ . }} </td> {{ end }}
        {{ range .Params.distance }} <td> {{ . }}</td> {{ end }}
        {{ range .Params.temps }} <td> {{ . }}</td> {{ end }}
      </tr>
  {{ end }}</table>
</article>
{{ end }}

