<script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.js"></script>
<link href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css" rel="stylesheet" />
<script src="https://cdn.maptiler.com/client-js/v1.8.1/maptiler-client.umd.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  #map {
    position: absolute;
    top: 5%;
    bottom: 0;
    width: 100%;
  }

  .mapboxgl-popup {
        max-width: 400px;
        padding-left: 10px;
        font:
            20px 'Helvetica Neue',
            Arial,
            Helvetica,
            sans-serif;
    }
</style>

<body>
<div id="map"></div>

{{ $cities := slice }}
{{ $urls := slice }}
{{ $distances := slice }}
{{ range site.RegularPages }}
  {{ range .Params.ville }}
    {{ $cities = $cities | append . }}
  {{ end }}
  {{ range .Params.distance }}
    {{ $distances = $distances | append . }}
  {{ end }}
  {{ $urls = $urls | append .Permalink }}
{{ end }}

<script>
  cities = {{ $cities }}
  urls = {{ $urls }}
  distances = {{ $distances }}
  maptilersdk.config.apiKey = 'pyq1aMzL93eonhDwaYmN';
  maptilerClient.config.apiKey = 'pyq1aMzL93eonhDwaYmN';

  // Initialize map
  const map = new maptilersdk.Map({
                container: 'map',
                style: maptilersdk.MapStyle.STREETS,
                center: [2.600473, 46.92188],
                zoom: 5
            });

  // Initialize geojson layer
  var layer = {'type': 'geojson', 'data': {'type': 'FeatureCollection',
                                           'features': []
                                          }
              }

  async function searchPlace(url, distance, city) {
    const result = await maptilerClient.geocoding.forward(city, {
      country: ["fr"],
      autocomplete: false,
      limit: 1
    });
    return [url, distance, result];
  }

  for (var i = 0; i < cities.length; i++) {
    const result = searchPlace(urls[i], distances[i], cities[i]).then((response) => {
      var point = {'type': 'Feature',
                  'properties': {'description': '',
                                  'url': '',
                                  'distance': ''},
                  'geometry': {'type': 'Point',
                                'coordinates': []
                                }
                  };
      point.properties.url = response[0];
      point.properties.distance = response[1];
      point.properties.description = response[2].features[0].text;
      point.geometry.coordinates = response[2].features[0].center;
      layer.data.features.push(point);
    })
    console.log(result);
  }

  map.on('load', async function () {
      const image = await map.loadImage(
          'https://docs.maptiler.com/sdk-js/assets/custom_marker.png');

      map.addImage('custom-marker', image.data);
      map.addSource('places', layer);
      map.addLayer({
            'id': 'places',
            'type': 'symbol',
            'source': 'places',
            'layout': {
                'icon-image': 'custom-marker',
                'icon-overlap': 'always'
            }
        });
  });

  // Create a popup, but don't add it to the map yet.
  var popup = new maptilersdk.Popup({
      closeButton: false,
      closeOnClick: false
  });

  map.on('mouseenter', 'places', function (e) {
      map.getCanvas().style.cursor = 'pointer';
      var coordinates = e.features[0].geometry.coordinates.slice();
      var description = e.features[0].properties.description;
      var distance = e.features[0].properties.distance;
      while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
      }
      popup.setLngLat(coordinates).setHTML('<b>' + description + '</b>' + '<br>' + distance).addTo(map);
  });

  map.on('mouseleave', 'places', function () {
      map.getCanvas().style.cursor = '';
      popup.remove();
  });

  map.on('click', 'places', function (e) {
    window.location.href = e.features[0].properties.url;
  })

</script>
</body>
