
<canvas id="line_chart"></canvas>
<canvas id="bar_chart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    const line_chart = new Chart(document.getElementById('line_chart'), {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'Distance',
                data: [],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'orange',
                borderWidth: 1,
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Distance by Date'
                }
            },
            elements: {
                point: {
                    radius: 1,
                    borderWidth: 3,
                    borderColor: 'orange',
                    backgroundColor: 'orange',
                    hoverRadius: 8,
                }
            }
        }
    });

    const bar_chart = new Chart(document.getElementById('bar_chart'), {
        type: 'bar',
        data: {
            labels: [],
            datasets: [{
                label: 'Distance',
                data: [],
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Distance by Month'
                }
            }
        }
    });

    function updateLineChart(all_run){
        console.log(all_run)
        //all_run = all_run.reverse()
        distances = all_run.map(run => run.distance / 1000)
        dates = all_run.map(run => run.start_date_local.split('T')[0])
        line_chart.data.labels = dates
        line_chart.data.datasets[0].data = distances
        line_chart.update()
    }

    function updateBarChart(all_run){
        console.log(all_run)
        all_run = all_run.reverse()
        distances = all_run.map(run => run.distance / 1000)
        dates = all_run.map(run => {
            const date = new Date(run.start_date_local)
            return date.getFullYear() + '-' + (date.getMonth() + 1)
        })
        console.log(dates)
        distances_by_month = distances.reduce((acc, distance, index) => {
            const month = dates[index].split('-')[1]
            acc[month] = (acc[month] || 0) + distance
            return acc
        }, {})
        console.log(distances_by_month)
        bar_chart.data.labels = Object.keys(distances_by_month)
        bar_chart.data.datasets[0].data = Object.values(distances_by_month)
        bar_chart.update()
    }

    function getActivities(res){
        before_timestamp = new Date('2024-12-13').getTime() / 1000
        after_timestamp = new Date('2024-01-01').getTime() / 1000
        const activities_link = `https://www.strava.com/api/v3/athlete/activities?after=${after_timestamp}&before=${before_timestamp}&per_page=200`
        fetch(activities_link, {
            method: 'get',
            headers: {
                'Authorization': `Bearer ${res.access_token}`
            }
        })
            .then((res) => res.json())
            .then(res => {
                updateBarChart(res); 
                updateLineChart(res);
            })
    }

    function getAthlete(res){
        console.log(res)
        const athlete_link = `https://www.strava.com/api/v3/athlete?access_token=${res.access_token}`
        fetch(athlete_link)
            .then((res) => res.json())
    }

    function reAuthorize(){
        fetch('https://www.strava.com/oauth/token',{
            method: 'post',
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                client_id: '111857',
                client_secret: '1bea81534f6536d4afefb08b316765f732f28eee',
                refresh_token: '21031529dd8900d62c793296a3a8b88d5d5a8f42',
                grant_type: 'refresh_token'
            })
        }).then(res => res.json())
          .then(res => {getActivities(res)})
    }

    reAuthorize()
</script>
