<script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.3.0/maptiler-sdk.umd.min.js"></script>
<script src="https://cdn.maptiler.com/maptiler-elevation-profile-control/v2.0.0/maptiler-elevation-profile-control.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gpxparser@3.0.8/dist/GPXParser.min.js"></script>
<link href="https://cdn.maptiler.com/maptiler-sdk-js/v2.3.0/maptiler-sdk.css" rel="stylesheet" />
<style>
    body {margin: 0; padding: 0;}
    #map-container {position: relative; top: 0; bottom: 0; width: 100%; height: 400px;}
    #map-elevation { position: absolute; top: 0; bottom: 0; width: 100%; }
    #profileContainer {
      position: absolute;
      width: 50%;
      height: 200px;
      background: #fff; /*rgb(37, 37, 37);*/
      margin-top: 20px;
      bottom: 10px;
      opacity: 0.8;
    }
</style>

<div id="map-container">
    <div id="map-elevation"></div>
    <div id="profileContainer"></div>
</div>


{{ $gpx := .Params.gpx }}

<script>

maptilersdk.config.apiKey = 'pyq1aMzL93eonhDwaYmN';

fetch('/{{ $gpx }}')
  .then(response => response.text())
  .then((data) => {

    var gpx = new gpxParser();
    gpx.parse(data);


let polyline, epc, marker;

const map = new maptilersdk.Map({
  container: 'map-elevation', // container's id or the HTML element in which SDK will render the map
  center: [gpx.tracks[0].points[0].lon,gpx.tracks[0].points[0].lat], // starting position [lng, lat]
  zoom: 11, // starting zoom
  style: maptilersdk.MapStyle.HYBRID
});

map.on('load', async () => {

  polyline = await maptilersdk.helpers.addPolyline(map, {
    data: '/{{ $gpx }}',
    lineColor: '#66f',
    lineWidth: 4,
    outline: true,
    outlineWidth: 2
  });

  marker = new maptilersdk.Marker()
    .setLngLat([0, 0])
    .addTo(map);

  // Create an instance (with no options)
  epc = new maptilerelevationprofilecontrol.ElevationProfileControl({
    container: "profileContainer",
    visible: true,
    position: "left",
    backgroundColor: "#0005",
    showButton: false,
    profileLineColor: "#66f",
    profileBackgroundColor: "#a103fc11",
    displayTooltip: true,
    onMove: (data) => {
      marker.setLngLat(data.position)
    },
  });

  // Add it to your map
  map.addControl(epc);

  // Add some data (from a URL or a MapTiler Data UUID)
  const sourceObject = map.getSource(polyline.polylineSourceId);
  epc.setData(sourceObject._data);

  moveMarkerToGPXStart(sourceObject._data);

});

function fitToDataBounds(data) {
  // Geographic coordinates of the LineString
  const coordinates = data.features[0].geometry.coordinates;

  // Pass the first coordinates in the LineString to `lngLatBounds` &
  // wrap each coordinate pair in `extend` to include them in the bounds
  // result. A variation of this technique could be applied to zooming
  // to the bounds of multiple Points or Polygon geomteries - it just
  // requires wrapping all the coordinates with the extend method.
  const bounds = coordinates.reduce((bounds, coord) => {
      return bounds.extend(coord);
  }, new LngLatBounds(coordinates[0], coordinates[0]));

  map.fitBounds(bounds, {
    padding: 20
  });
  moveMarkerToGPXStart(data);
}

function moveMarkerToGPXStart(data) {
  marker.setLngLat(data.features[0].geometry.coordinates[0])
}

})

</script>
